<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title %></title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/tachyons@4.11.1/css/tachyons.min.css" />
  </head>

  <body class="<%= page_classes %> mw-100 mw8-l ph3 ph5-l near-black">

    <header>
      <div class="fl w-100 w-third-ns ph3-l logo">
        <h1 class="f2 lh-title">
          <%= link_to("Jill Petersen", "index.html") %></h1>
      </div>

      <div class="fl w-100 w-two-thirds-ns ph3-l nav">
        <h1 class="f2 lh-title">
          <%= link_to("Design", "design.html", class: "highlight_design") %>
          /
          <%= link_to("Research", "research.html", class: "highlight_research") %>
        </h1>
      </div>
    </header>

    <%= yield %>
  </body>
</html>
